<nav id="sidebar">
    <h3><a href="/">La Bonne Fiche</a></h3>
    <ul class="list-unstyled list-actions">
        <li class="sidebar-list-element"><a href="/lessons"><i class="fa fa-search"></i>Rechercher</a></li>
        <li class="sidebar-list-element"><a href="/upload"><img src="public/images/upload-24px.png" alt="Ajout fichier"/>Mettre en ligne</a></li>
    </ul>
    <ul class="list-unstyled list-bottom">
        <li class="sidebar-list-element"><a href="/profile">Mon Compte</a></li>
        <li class="sidebar-list-element"><a href="/logoff">Se déconnecter</a></li>
    </ul>
</nav>